/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Amanu";
            bindings = <
&kp TAB                  &kp Q             &kp W           &kp E           &kp R               &kp T          &kp Y    &kp U                &kp I            &kp O            &kp P                 &trans
&mt LEFT_CONTROL ESCAPE  &mt LEFT_SHIFT A  &mt LEFT_ALT S  &mt LEFT_GUI D  &mt LEFT_CONTROL F  &kp G          &kp H    &mt RIGHT_CONTROL J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RIGHT_SHIFT SEMI  &kp SQT
&kp LSHFT                &kp Z             &kp X           &kp C           &kp V               &kp B          &kp N    &kp M                &kp COMMA        &kp DOT          &kp FSLH              &trans
                                                           &kp LGUI        &mo 1               &lt 3 SPACE    &kp RET  &mo 2                &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Bilang";
            bindings = <
&kp TAB                  &trans  &trans  &trans    &trans  &trans         &kp MINUS     &kp N7        &kp N8         &kp N9        &trans      &trans
&mt LEFT_CONTROL ESCAPE  &trans  &trans  &trans    &trans  &trans         &kp ASTERISK  &kp NUMBER_4  &kp N5         &kp NUMBER_6  &kp PLUS    &trans
&kp LSHFT                &trans  &trans  &trans    &trans  &trans         &kp SLASH     &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp PERIOD  &trans
                                         &kp LGUI  &trans  &lt 3 SPACE    &kp RET       &kp N0        &kp BACKSPACE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Simbulu";
            bindings = <
&kp TAB                  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
&mt LEFT_CONTROL ESCAPE  &trans    &trans  &trans    &trans    &trans         &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT                &trans    &trans  &trans    &trans    &trans         &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                           &kp LGUI  &trans    &lt 3 SPACE    &kp RET    &trans     &kp BACKSPACE
            >;
        };

        layer_navigation {
            bindings = <
&kp TAB                  &trans  &trans  &trans  &trans  &trans    &kp HOME   &kp END   &kp PG_UP  &kp PG_DN  &trans  &trans
&mt LEFT_CONTROL ESCAPE  &trans  &trans  &trans  &trans  &trans    &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT  &trans  &trans
&kp LSHFT                &trans  &trans  &trans  &trans  &trans    &trans     &trans    &trans     &trans     &trans  &trans
                                         &trans  &trans  &trans    &kp ENTER  &trans    &kp BSPC
            >;
        };
    };
};
