/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Amanu";
            bindings = <
&kp TAB                  &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y    &kp U  &kp I          &kp O    &kp P     &kp LEFT_ALT
&mt LEFT_CONTROL ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G          &kp H    &kp J  &kp K          &kp L    &kp SEMI  &kp SQT
&kp LSHFT                &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N    &kp M  &kp COMMA      &kp DOT  &kp FSLH  &trans
                                       &kp LGUI  &mo 1  &lt 3 SPACE    &kp RET  &mo 2  &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Bilang";
            bindings = <
&lt 4 TAB                &bt BT_CLR  &bt BT_CLR_ALL  &bt BT_PRV         &bt BT_NXT       &bt BT_SEL 0    &kp MINUS     &kp N7        &kp N8         &kp N9        &trans      &trans
&mt LEFT_CONTROL ESCAPE  &kp C_MUTE  &kp C_PREVIOUS  &kp C_NEXT         &kp C_PP         &trans          &kp ASTERISK  &kp NUMBER_4  &kp N5         &kp NUMBER_6  &kp PLUS    &trans
&kp LSHFT                &trans      &trans          &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans          &kp SLASH     &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp PERIOD  &trans
                                                     &kp LGUI           &trans           &lt 3 SPACE     &kp RET       &kp N0        &kp BACKSPACE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Simbulu";
            bindings = <
&kp TAB                  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp MINUS  &kp EQUAL
&mt LEFT_CONTROL ESCAPE  &kp F1    &kp F2  &kp F3    &kp F4    &kp F5         &kp UNDERSCORE  &kp LBKT              &kp RBKT               &kp DOLLAR     &kp BSLH   &kp GRAVE
&kp LSHFT                &kp F6    &kp F7  &kp F8    &kp F9    &kp F10        &kp PLUS        &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp RBRC       &kp PIPE   &kp TILDE
                                           &kp LGUI  &kp LALT  &lt 3 SPACE    &kp RET         &trans                &kp BACKSPACE
            >;
        };

        layer_navigation {
            bindings = <
&kp TAB                  &trans  &trans  &trans             &trans                 &kp LC(LA(TAB))    &kp HOME         &kp END           &kp PG_UP          &kp PG_DN    &kp LC(LA(LS(P)))  &trans
&mt LEFT_CONTROL ESCAPE  &trans  &trans  &kp LC(LA(LS(D)))  &kp LC(LA(LS(SPACE)))  &kp LA(SPACE)      &kp LEFT         &kp DOWN          &kp UP             &kp RIGHT    &trans             &trans
&kp LSHFT                &trans  &trans  &trans             &trans                 &trans             &kp LC(LS(TAB))  &kp LC(LG(LEFT))  &kp LC(LG(RIGHT))  &kp LC(TAB)  &trans             &trans
                                         &trans             &trans                 &trans             &kp ENTER        &trans            &kp BSPC
            >;

            label = "Libut";
        };

        layer_komorebi {
            bindings = <
&trans  &trans  &trans  &kp LG(LS(UP_ARROW))  &kp LA(LS(R))  &trans    &kp LC(LA(LEFT))    &kp LC(LA(DOWN))  &kp LC(LA(UP_ARROW))  &kp LC(LA(RIGHT))  &trans  &trans
&trans  &trans  &trans  &kp LG(LS(DOWN))      &kp LA(LS(F))  &trans    &kp LA(LEFT_ARROW)  &kp LA(DOWN)      &kp LA(UP_ARROW)      &kp LA(RIGHT)      &trans  &trans
&trans  &trans  &trans  &trans                &trans         &trans    &kp LA(LS(LEFT))    &kp LA(END)       &kp LA(HOME)          &kp LA(LS(RIGHT))  &trans  &trans
                        &trans                &trans         &trans    &trans              &trans            &trans
            >;

            label = "Aguman";
        };
    };
};
